* {
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
}

.quotes {
  list-style-type: none;
  padding-left: 0;
}
.quote-wrapper {
  margin-bottom: 7px;
}
.quote-buttons {
  padding-right: 10px;
}
.name-text {
  font-weight: bold;
}
.edit-name-input,
.edit-quote-input {
 display: block;
 margin-bottom: 10px;
 width: 100%;
}
.edit-quote-input {
  resize: none;
}
.highlight {
  background-color: #FFFF99;
  cursor: text;
}
.form-control-fl {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (min-width: 600px) {
  .edit-name-input,
  .edit-quote-input {
    display: block;
    margin-bottom: 10px;
  }
}